@model OnlineArtGalleryProject.Models.GiftCardModel

@{
    ViewBag.Title = "Gift Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    label {
        font-weight: bold;
    }

    button {
        padding: 10px 20px;
        font-size: 18px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }

</style>
<br />
<h2>Gift Card</h2>
<hr />

<div style="width: 800px; margin-left: 20px;">
    @using (Html.BeginForm("SendGiftCard", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.RecipientName)
            @Html.TextBoxFor(model => model.RecipientName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RecipientName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SenderName)
            @Html.TextBoxFor(model => model.SenderName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SenderName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Value)
            @Html.TextBoxFor(model => model.Value, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Value)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecipientEmail)
            @Html.TextBoxFor(model => model.RecipientEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RecipientEmail)
        </div>
        <hr />
        <br />
        <button type="submit" class="btn btn-primary">Send Gift Card</button>
    }

    <img src="https://img.freepik.com/premium-vector/watercolor-red-gift-bow-isolated-white-vector-illustration_373520-5592.jpg" style="width: 400px; margin-left: 900px; margin-top: -500px;" />
</div>

